<phpunit bootstrap="_bootstrap.php" backupGlobals="false" processIsolation="false">
    <testsuite name="AllTests">
        <directory>tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>